* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.car-col-cont-1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 350px;
    width: 300px !important;
    border-right: 2px solid black;
    padding: 0px !important;
}

/* select various div cards with nth and align/justify them as presented in task1 */
div:nth-of-type(3n + 3) {
    border-right: none;
    align-items: flex-end;
}

div:nth-of-type(3n + 2) {
    align-items: center;
}

div:nth-of-type(3n + 1) {
    align-items: flex-start;
}

div:nth-child(n+4) {
    justify-content: flex-end;
    border-bottom: none;
}
/* select various div cards with nth and align/justify them as presented in task1 */


/*card class holding  car image and text*/
.card {
    border-radius: 7% !important;
    width: 70%;
    height: 250px;
    position: relative;
    border: 2px solid black !important;
}

.card-img-top {
    border-radius: 7% !important;
}

.card-body {
    margin: 0 auto;
    color: gray;
}

.card-img-top {
    height: 180px;
    width: 260px;
    padding: 1%;
}

/*when viewport shrink to mobile size center vertic/horizont all cols children (cards)*/
@media only screen and (max-width: 560px) {
    .car-col-cont-1 {
        justify-content: center !important;
        align-items: center !important;
        border: 2px solid black !important;
    }
}

/*col new class without borders */
.car-col-cont-1-hide {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 350px;
    width: 300px !important;
    border: none !important;
    padding: 0px !important;
}