.car-row-cont-2 {
  justify-content: center;
  margin-top:10%;

}

.car-col-cont-2 {
  border-bottom:2px solid black; 
}

.car-row-cont-1 {
  justify-content: center;
  margin-top:10%;
  margin-bottom:10%;
}

.car-col-cont-1 {
  border-bottom:2px solid black; 
}

.form-group-own {
  width:100%;
}
